{% extends 'core/base.html' %}
{% block content %}
<h2>Manage Tasks</h2>
{% if tasks %}
<ul class="list-group border border-2 border-secondary rounded-0">
    {% for task in tasks %}
    <li class="list-group-item d-flex align-items-center">
        <span class="flex-grow-1 me-3">{{ task.title }}</span>
        <div class="d-flex gap-2">
            <a href="{% url 'tasks:mark_completed' task.id %}"><i class="bi bi-check-square"></i></a>
            <a href="#"><i class="bi bi-pencil-square"></i></a>
            <form method="POST" action="{% url 'tasks:delete_task' task.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link p-0"><i class="bi bi-trash"></i></button>
            </form>
        </div>
    </li>
    {% endfor %}
</ul>

{% else %}
<p>No tasks yet.</p>
{% endif %}


{% endblock content %}